doctype html
html(lang="en")
	head
		title="Shortener"
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
		
	body
		script.
			var subPath="#{ appDir }";

		script(src="bundle.js")
