.header {
    margin: 30px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 4.0rem !important;
}

.main {
    background-color: #f1f2f6;
    border: 1px solid #ced6e0;
    border-radius: 5px;
    float: none;
    margin: 0 auto !important;
    padding: 15px;
}